.workload-config-layout {
    height: calc(100%-0px);

    .ant-layout-content {
        padding: 0 8px;

        
    }
    .workload-config-sider {
        background: none;
        width: 576px !important;
        flex: 0 0 576px !important;
        max-width: 576px!important;
        min-width: 576px!important;
        height: 100%;
    }

}