.pipeline {
    padding: 10px;
    .stage-wrapper {
        padding: 30px;
        width: auto;
       
        .step-wrapper {
            display: flex;
            height: 40px;
            width: 200px;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            border: 1px solid #dadfe6;
            background-color: white;
            cursor: pointer;
            .step-box{
                margin-left: 10px;
                width: 200px;
                height: auto;
                display: flex;
                background-color: white;
                align-items: center;
                justify-content: space-between;
                .step-box-icon{
                    height: auto;
                    width: 40px;
                }
                .step-box-name{
                    flex: 1 1;
                    margin-left: 15px;
                }
            }
        }
        .stage-add-step {
            display: flex;
            height: 40px;
            width: 200px;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            background-color: white;
            border: 1px solid #dadfe6;
            cursor: pointer;
        }

        .stage-box {
            width: 200px;
            height: 40px;
            display: flex;
            font-weight: 700;
            align-items: center;
            justify-content: space-between;
            background-color: white;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);

            .stage-index {
                height: 100%;
                width: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #3385ff;
                color: white;
            }

            .stage-name {
                height: 100%;
                flex: 1 1;
                display: flex;
                align-items: center;
                padding: 10px;
            }

            .stage-root {
                height: 100%;
                flex: 1 1;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                cursor: pointer;

                span {
                    margin-right: 5px;
                }
            }
        }
    }
}