.ant-layout {
  // background-color: #000;

  .luck-layout-header {
    text-align: right;
    height: 90px;
    background-color: #252329 !important; //#33194c   #151419
    line-height: 90px;

    .ant-btn {
      transform: translate(10px, 15px);
    }
  }
}